<div class="header">
  
  <!-- <a routerLink="blog" class="logo" >CompanyLogo</a> -->
  <img [src]="img"routerLink="blog" class="logo" alt="" style="max-width: 100px; max-height: 300px;" class="rounded">
  <label class="space"> 
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label>
  <div class="header-right">
    <a routerLinkActive="active" class="myblog" (click)="onMyBlog()" routerLink="myblog">{{'HOME.MyBlog'| translate}}</a>
    <a [hidden]="loginService.uname != ''" class="login"routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      routerLink="login">{{'HOME.login'| translate}}</a>
      <a routerLinkActive="active" class="logout" [hidden]="!loginService.uname" (click)="onLogout()"  >{{'HOME.logout'| translate}}</a>
    <a *ngIf="loginService.uname" class="welcome">{{'HOME.Welcome'| translate}} {{loginService.uname}} </a>
  </div>

  

</div>

