<br>
<span class="border border-dark">
    <div class="container" class="border border-dark">
        <div>
            <label for="title">Title: {{blogs.title}}</label>
        </div>

        <div>
            <label for="date">Publish Date:{{blogs.date|date}} </label>
        </div>

        <div>
            <img [src]="blogs.imageurl" alt="" style="max-width: 500px; max-height: 200px;" class="rounded">
        </div>
        <br>

        <div>
            <label for="description">Description :{{blogs.description}}</label>
        </div>

        <div>
            <label for="languages" *ngFor="let item of blogs.languages">Languages:{{item.language_text}} </label>
        </div>

        <div>
            <label for="">Author-Name :{{blogs.author}}</label>
        </div>

        <div>
            <a class="previous" (click)="onPrevious()">&laquo; Previous</a>
            <a class="next" (click)="onNext()">Next &raquo;</a>
        </div>

    </div>

</span>