<!--<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <form #postBlog="ngForm" (ngSubmit)="onSubmit(postBlog.value)">

            <div class="con">
                <div class="field-set">

                    <label for="title">Title</label>
                    <input type="text" name="title" ngModel="{{data.title}}" required title #title="ngModel">

                    <br>
                    <br>
                    <div>
                        <label for="description">Description</label>
                        <ckeditor ngModel="{{data.description}}" [editor]="Editor" id="description" name="description"
                            #desciption="ngModel">
                        </ckeditor>
                    </div>

                    <div>

                        <label for="image">Image URL</label>
                        <input type="text" name="imageurl" ngModel="{{data.imageurl}}" required imageurl
                            #imageurl="ngModel">

                    </div>
                    <div class="col-mg-5">
                        <img [src]="imageurl.value" style="max-width: 500px; max-height: 500px;">
                    </div>
                    <br>
                    <div>
                        <label for="languages">languages:</label>
                        <ng-multiselect-dropdown class="select" [placeholder]="'Select'" [settings]="languageSettings"
                            [data]="languageList" [(ngModel)]="data.languages" name="languages">
                        </ng-multiselect-dropdown>
                    </div>
                    <br><br>
                    <div>
                        <label for="author">Author</label>
                        <input type="text" name="author" ngModel="{{LoginService.uname}}" readonly>
                    </div>
                    <br><br>

                    <div class="modal-footer">
                    <button class="log-in" type="submit" (click)="modal.close('Save click')"
                        [disabled]="!postBlog.valid"> Publish</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</ng-template>



<hr>-->



<!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <form #postBlog="ngForm" (ngSubmit)="onSubmit(postBlog.value)">

        <div class="con">
            <div class="field-set">

                <label for="title">Title</label>
                <input type="text" name="title" ngModel="{{data.title}}" required title #title="ngModel">

                <br>
                <br>
                <div>
                    <label for="description">Description</label>
                    <ckeditor ngModel="{{data.description}}" [editor]="Editor" id="description" name="description"
                        #desciption="ngModel">
                    </ckeditor>
                </div>

                <div>

                    <label for="image">Image URL</label>
                    <input type="text" name="imageurl" ngModel="{{data.imageurl}}" required imageurl
                        #imageurl="ngModel">

                </div>
                <div class="col-mg-5">
                    <img [src]="imageurl.value" style="max-width: 500px; max-height: 500px;">
                </div>
                <br>
                <div>
                    <label for="languages">languages:</label>
                    <ng-multiselect-dropdown class="select" [placeholder]="'Select'" [settings]="languageSettings"
                        [data]="languageList" [(ngModel)]="data.languages" name="languages">
                    </ng-multiselect-dropdown>
                </div>
                <br><br>
                <div>
                    <label for="author">Author</label>
                    <input type="text" name="author" ngModel="{{LoginService.uname}}" readonly> -->
<!-- </div>
                <br><br>

                <div class="modal-footer">
                    <button class="log-in" type="submit" [disabled]="!postBlog.valid"> Publish</button>
                </div>
            </div>
        </div>
    </form>
</div>  -->



    <div class="container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
  
    </div>
    <form #postBlog="ngForm" (ngSubmit)="onSubmit(postBlog.value)">
        <div class="modal-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" ngModel="{{data.title}}" required title #title="ngModel">
                <br>
                <br>
                <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                    <input
                      class="form-control"
                      placeholder="Datepicker"
                      bsDatepicker
                      ngModel="{{data.date|date}}"
                       name="date"
                      #date 
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }">
                </div>
                <div>
                    <label for="description">Description</label>
                    <ckeditor ngModel="{{data.description}}" [editor]="Editor" id="description" name="description"
                        #desciption="ngModel">
                    </ckeditor>
                </div>

                <div>

                    <label for="image">Image URL</label>
                    <input type="text" name="imageurl" ngModel="{{data.imageurl}}" required imageurl
                        #imageurl="ngModel">

                </div>
                <div class="col-mg-5">
                    <img [src]="imageurl.value" style="max-width: 500px; max-height: 500px;">
                </div>
                <br>
                <div>
                    <label for="languages">languages:</label>
                    <ng-multiselect-dropdown class="select" [placeholder]="'Select'" [settings]="languageSettings"
                        [data]="languageList" [(ngModel)]="data.languages" name="languages">
                    </ng-multiselect-dropdown>
                </div>
                <br><br>
                <div>
                    <label for="author">Author</label>
                    <input type="text" name="author" ngModel="{{loginService.uname}}" readonly>
                
                </div>
            </div>
       
        
            <div class="modal-footer">
                <button class="log-in" type="submit" > Publish</button>
            </div>
        </div>
    </form>
</div>



