<!-- <button class="btn btn-primary" routerLink="/blog/new">write something to make better world</button> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publish Date</th>
      <th scope="col">Languages</th>
      <th scope="col"style="column-span: 2;" >Action</th>

    </tr>
  </thead>
  <tbody>
<!--changed at line 17 {{element.id}} -->
    <tr *ngFor="let element of myFinalBlog; let i = index">
      <td (click)="onClick(i)">{{i+1}}</td>
      <td (click)="onClick(element.id)">{{element.title}}</td>
      <td (click)="onClick(element.id)"> {{element.author}}</td>
      <td (click)="onClick(element.id)">{{element.date|date}}</td>
      <td (click)="onClick(element.id)" ><div *ngFor="let item of element.languages">{{item.language_text}}</div></td>
      <td>
        <a (click)="onEdit(element.id)" style="color: blue;" class="space">Edit</a>
        <a (click)="onDelete(element)" style="color: rgb(250, 1, 1);">Delete</a>
      </td>
    </tr>

  </tbody>
</table>


